@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutPosts.cshtml";
}
@model List<Post>
<div class="col-lg-7 col-xs-10 col-xs-offset-1 col-xs-pull-1">
    <div class="posts col-xs-offset-1 col-xs-pull-1">

        <h1><b>[RECENTES</b></h1>

        @foreach (var item in Model)
        {
            var url = string.IsNullOrEmpty(item.url) ? string.Format("/post/Details/{0}", item.ID) : string.Format("/post/view/{0}", item.url);


            <div class="row">
                <h2><b><a class="mainTitle" href="@url">@item.Title</a></b></h2>
                <p>@Html.Raw(item.Text.Substring(0, item.Text.Length < 500 ? item.Text.Length : 500))</p>
                <a href="@url">LEIA MAIS...</a>
            </div>
        }
    </div>
</div>
<div class="col-lg-offset-1 col-lg-3 col-md-4 col-sm-4 col-xs-12">
    @await Html.PartialAsync("_Lead", new Lead())
</div>

@section Head
{
    <meta property="og:title" content="Moodei" />
    <meta property="og:description" content="Quem aí já não pensou em sair de casa e começar uma carreira solo nesse mundão sem porteiras? E como fazer isso acontecer, sem medo de ser feliz? Somos a Moodei e vamos te ajudar sendo o seu guia prático nessa nova vida. Seja para fazer faculdade ou mesmo para ter seu próprio espaço, te damos todas as dicas e materiais que você precisa para moodar com tranquilidade. Moode com a gente!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://@Context.Request.Host@Context.Request.Path" />
    <meta property="og:image" content="@string.Format("http://{0}{1}images/logo_principal.png", new string[] { Context.Request.Host.ToString(), Context.Request.Path })" />
}